<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>WonderLab</string>
    <key>CFBundleDisplayName</key>
    <string>WonderLab</string>
    <key>CFBundleIdentifier</key>
    <string>org.blessing-studio.wonderlab</string>
    <key>CFBundleVersion</key>
    <string>2.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>WonderLab.Desktop</string>
    <key>CFBundleIconFile</key>
    <string>wonderlab.icns</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>