name: CI-Check
on:
  workflow_dispatch:
  push:
    branches: [ "feature" ]
  pull_request:
    types:
      - opened

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
  dotnet-version: "8.0"
  target-version: "net8.0"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive
    - name: "Setup Dotnet"
      uses: "actions/setup-dotnet@v3"
      with:
        dotnet-version: "${{env.dotnet-version}}"
    - name: Test
      run: dotnet test WonderLab.Desktop/WonderLab.Desktop.csproj
  test_build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive
    - name: "Setup Dotnet"
      uses: "actions/setup-dotnet@v3"
      with:
        dotnet-version: "${{env.dotnet-version}}"
    - name: Test
      run: dotnet build WonderLab.Desktop/WonderLab.Desktop.csproj
